html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--main);
  color: white;
}
:root {
    --main: #212020;
    --secondary: #121010;
    --highlight: #bf7171;
    --danger: #e87d7d;
}
.main-btn {
    background-color: var(--highlight);
    color: white;
}
.btn-danger { 
    background-color: var(--danger);
    color: white;
}